.button-primary {
  margin-top: 1%;
  margin-left: 1%;
}

.surveyTitle {
  background-color: white;
}

.surveyDesc {
  background-color: white;
}

.surveyContainer {

}

.pageTitle {

}

.pageDesc {

}

.showPage {
  position: absolute;
  left: 47%;
  top: 35%;
}

.pageContainer {
  margin-top: 2%;
  width: 50%;
  margin-left: 25%;
}

.questionContainer {
  margin-top: 8%;
}

#newSurveyButton {
  text-align: center;
}

.newValuesForm {
  width: 50%;
  margin-left: 25%;
}

.nextButton {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid green;
  margin-left: 45%;
}

.prevButton {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid green;
  margin-right: 45%;
}

.newTitle {
  width: 100%;
  resize: none;
  text-align: center;
}

.newDesc {
  width: 100%;
  resize: none;
  text-align: center
}

.sidebar {
  width: 20%;
  left: 5%;
  top: 45%;
  background-color: #d3d3d3;
  position: absolute;
}
